<main>
  {{ range (where .Site.RegularPages "Section" "section").ByDate }}
  <section id="{{ replace .Title " " "-" | lower }}" class="highlight">
    <div class="content">
      <h1>{{ .Params.Title | title | safeHTML }}</h1>
      {{ .Content | safeHTML }}
    </div>
  </section>
  {{ end }}
  {{ if gt (len (where .Site.RegularPages "Section" "sub-label")) 0 }}
  <section id="sub-labels" class="highlight">
    <div class="content">
      <h1>Sub-Labels</h1>
      <ul>
        {{ range (where .Site.RegularPages "Section" "sub-label") }}
        <li>
          <a href="{{ .Params.Link | safeURL }}" alt="{{ .Params.Name | safeHTML }}" rel="external" target="_blank">
            <img class="sub-label" src="{{ .Params.Logo | absURL }}" alt="{{ .Params.Name | safeHTML }}">
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </section>
  {{ end }}
  {{ if gt (len (where .Site.RegularPages "Section" "release")) 0 }}
  <section id="releases" class="highlight">
    <div class="content">
      <h1>Releases</h1>
      <ul class="releases-list">
        {{ range (where .Site.RegularPages "Section" "release") }}
        <li>
          <small><strong>[{{ .Params.Cat | upper }}]</strong></small>
          {{ printf "%s - %s" .Params.Band .Params.Title }}
          <small>({{ .Params.Format }})</small>
          {{ .Params.Year }}
        </li>
        {{ end }}
      </ul>
    </div>
  </section>
  {{ end }}
</main>
